/* ==========================================================================
   Filter
   ========================================================================== */

.filter-container{
  margin: 50px auto 25px;
  width: 740px;

  input{
    margin: 10px 0;
    display: block;
  }
}
