/* ==========================================================================
   Primary menu
   ========================================================================== */

.primary-menu{
  margin: 1em 0;
  padding: 0;
  list-style: none;

  li{
    margin: 0 5px;
    display: inline-block;
  }
  a{ color: $white; }
}

.primary-menu-container{
  text-align: center;
  width: 100%;

  @media (min-width: $breakpoint-medium){
    text-align: left;
    width: auto;
  }
}
