/* ==========================================================================
   Tagline
   ========================================================================== */

.tagline{
  margin: 0 0 50px 0;
  color: $white;
  font-size: 2em;
  font-weight: 300;
}

.tagline-action{
  padding: 0.5em 1.2em;
  border: 2px solid $white;
  color: $white;
  text-decoration: none;
  font-size: 1em;
  transition: all 250ms ease-out;

  &:hover,
  &:visited:hover{
    background: $white;
    color: $text-color;
  }
  &:visited{ color: $white; }
}

.tagline-container{
  padding: 1.5em 0;
  text-align: center;
  width: 95%;

  @media (min-width: $breakpoint-medium){
    margin: 150px auto;
    padding: 0;
  }
}
