/* ==========================================================================
   Variables
   ========================================================================== */

/**
 * Colors
 */
$white         : #FFFFFF;
$black         : #333333;
$primary-color : #00BCD4;
$text-color    : #212121;
$link-color    : #0277BB;
$topbar-color  : #FFFFFF;

/**
 * Breakpoints
 */
$breakpoint-small   : 24em;
$breakpoint-small-2 : 30em;
$breakpoint-medium  : 48em;
$breakpoint-large   : 72em;
$breakpoint-xl      : 80em;
$baseFontSize       : 14px;
