/* ==========================================================================
   Header
   ========================================================================== */

.main-header{
  margin: 0;
  padding: 0;
  background: url('/images/home.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
  width: 100%;
}
  .header-container{
    margin: 0 5%;
    overflow: hidden;
    width: 90%;
  }
