<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Front-end events</title>
    <meta name="description" content="The best front-end conferences list. Frontend events is a list of events in the front-end environment crowdsourced.">
    <meta name="keyword" content="frontend, meetup, conference, event, nodejs, angularjs, javascript, backbonejs, emberjs, sass">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta id="viewport" name="viewport" content ="width=device-width, minimum-scale=1.0, minimal-ui" />

    <!-- build:css css/main.css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->

    <!-- build:js /js/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="main-header"><!-- main-header -->
      <div class="header-container">
        <div class="topbar"><!-- topbar -->
          <h1 class="site-logo light"><a href="/">Frontendevents.com</a></h1>

          <div class="primary-menu-container">
            <ul class="primary-menu">
              <li><a href="#about">about</a></li>
              <li><a href="#list">the list</a></li>
            </ul>
          </div>
        </div><!-- end of topbar -->

        <div class="tagline-container">
          <h2 class="tagline">The simple way to get there, is to know they exists.</h2>
          <a href="#list" class="tagline-action">view the list</a>
        </div>

      </div>
    </header><!-- end of main-header -->

    <!-- ng-app: This directive declares an element as application's root element -->
    <section class="app" ng-app="frontendConfs" ng-controller="conferencesListController as conferences">
      <div class="wrapper">
        <article id="about" class="plot-container">
          <div class="plot">
            <h1>Our goal is simple</h1>
            <p>Frontendevents.com has just one goal, list all active conferences/meetups dedicated on the front-end development. Make a list is long and pretty hard so feel free to contribute.</p>
            <p>If you want to contribute to the project by adding a conference/meetup not yet listed you can submit it via <a href="https://github.com/bcabanes/frontend-events/issues">our github</a> and post an issue with the event's infos.</p>
          </div>
        </article>
        <div class="filter-container">
          <div class="filter">
            <h2>Search for an event?</h2>
            <label for="search">Are you looking for something in particular? <input id="search" type="search" ng-model="conferenceFilter" placeholder="Search"> </label>
          </div>
        </div>

        <div id="list" class="card-list">
          <h2>{{filtred.length}} events:</h2>
          <div class="card" ng-repeat="conference in filtred = (conferencesList | filter:conferenceFilter)">
            <img class="cover" width="150" heigth="150" src="/images/covers/{{conference.twitter}}.jpg">
            <h2>{{conference.name}}</h2>
            <p><a target="_blank" href="{{conference.website}}">website</a> | <a target="_blank" href="http://twitter.com/{{conference.twitter}}">@{{conference.twitter}}</a></p>
            <p>{{conference.resume}}</p>
          </div>
        </div>
      </div>

    </section>

    <!-- build:js /js/vendors.js -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <!-- endbuild -->

    <!-- build:js /js/app.js -->
    <script src="/js/angular/config.js"></script>
    <script src="/js/angular/app.js"></script>
    <script src="/js/angular/routes.js"></script>
    <script src="/js/angular/apps/conferences/app.js"></script>
      <script src="/js/angular/apps/conferences/controllers/controllers.js"></script>
        <script src="/js/angular/apps/conferences/controllers/list.js"></script>
      <script src="/js/angular/apps/conferences/factories/factories.js"></script>
        <script src="/js/angular/apps/conferences/factories/api.js"></script>
    <!-- endbuild -->

</body>
</html>
