/* ==========================================================================
   Link (general)
   ========================================================================== */

a, a:visited{
  color: $link-color;
  text-decoration: none;
}

a:focus, a:hover{
  color: darken($link-color, 10%);
}
