/* ==========================================================================
   Logo
   ========================================================================== */

.site-logo{
  color: $topbar-color;
  font-size: 1.2em;
  font-weight: normal;
}
